<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}bio.html">BIO</a></li>
        <li><a href="{{ site.baseurl }}projects.html">RESEARCH</a></li>
        <li><a href="{{ site.baseurl }}teaching.html">TEACHING</a></li>
        <li><a href="{{ site.baseurl }}group.html">GROUP</a></li>
        <li><a href="https://ui.adsabs.harvard.edu/#search/q=author%3A%22weisz%2C+d%22&sort=date+desc">PUBLICATIONS</a></li>
        <li><a href="{{ site.baseurl }}new_weisz_cv_short.pdf">CV</a></li>
      </ul>
    </div>
  </div>
</nav>