<div class="social">
	<h4>
	  <a href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>
	  <a href="http://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a>
	  <a href="https://www.linkedin.com/in/dan-weisz-b2173a150"><i class="fa fa-linkedin"></i></a>
	  <a href="https://orcid.org/0000-0002-6442-6030"><i class="fa fa-orcid"></i></a>
	  <a href="mailto:dan.weisz@berkeley.edu"><i class="fa fa-envelope"></i></a>
	  <a href="https://goo.gl/maps/74Q1xSUvLhS2"><i class="fa fa-map-marker"></i></a>
	</h4>
</div> 

